@import "tailwindcss";

@theme inline {
  --color-blue-500: #1678E6;
  --color-blue-600: #0A63D8;
  --color-blue-700: #0853B5;
  --color-teal-400: #36D8C7;
  --color-teal-500: #14C8C2;
  --color-teal-600: #0FB6B0;
  --color-gray-900: #1F2937;
  --background: #F8FAFC;
}